<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="Plugin">
			<directory suffix="_Test.php">tests/php</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<report>
			<text outputFile="php://stdout" showUncoveredFiles="false"/>
			<clover outputFile="coverage/clover.xml"/>
		</report>
	</coverage>
	<source>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</source>
</phpunit>
